---
BasedOnStyle: LLVM
AlignEscapedNewlines: Left
AlwaysBreakAfterReturnType: All
BreakBeforeBraces: Attach
ColumnLimit: 999
Cpp11BracedListStyle: false
IndentCaseLabels: true
IndentWidth: 4
PointerAlignment: Right
AllowShortLambdasOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
...
