**/.direnv/
# https://adventofcode.com/about#faq_copying
# "If you're posting a code repository somewhere, please don't include parts of Advent of Code like the puzzle text or your inputs"
**/*.txt
!**/CMakeLists.txt
!**/README.txt
**/.zig-cache/
**/zig-out/

**/.cache/
**/build/
**/compile_commands.json
